---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Define variables here
$header-bg-color: blue;
$header-fg-color: white;
$header-font-family: Lato, sans serif;

$bg-color: white;
$fg-color: black;
$shaded-bg-color: #eee;
$shaded-fg-color: red;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "https://fonts.googleapis.com/css?family=Lato:400,800|Ubuntu+Mono:400,700",
        "reset",
        "base",
        "layout",
        "syntax-highlighting"
;
