---
layout: default
---

<div class="home">

  <h1 class="page-heading">Selected Projects</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    {% if post.categories contains "projects" %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <a href="{{ post.url | prepend: site.baseurl }}">Show details...</a>
      </li>
    {% endif %}
    {% endfor %}
  </ul>

  <p>Find more of my projects on <a href="https://github.com/{{ site.github_username }}/">GitHub</a>.</p>
</div>
