---
layout: default
---

<div class="articles">

  <h1 class="articles__section-heading">Browse By Tag</h1>
  <ul class="categories">
    {% for tag in site.tags %}
      <li>{{ tag[0] }}</li>
    {% endfor %}  
  </ul>

  <hr/>
  
  <h1 class="articles__section-heading">Or Read Latest Articles</h1>

  <ul class="articles__list">
    {% for post in site.posts %}
    {% unless post.categories contains "projects" %}
      <li>
        <h2 class="article__title">
          <a class="article__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="article__meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        <ul class="categories">
          {% for tag in post.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
        {{ post.excerpt }}
        <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
      </li>
    {% endunless %}
    {% endfor %}
  </ul>

</div>
