<div class="site-header">
<header>
<div><h1>Marc Dominik Migge</h1></div>
<nav>
    {% assign nav = page.url | split:'/' %}
    {% if nav[1] == 'about' %}
    <a href="{{ site.baseurl }}/">Blog</a>
    <a href="/projects/">Projects</a>
    <a class="current" href="/about/">About</a>
    {% elsif nav[1] == 'projects' %}
    <a href="{{ site.baseurl }}/">Blog</a>
    <a class="current" href="/projects/">Projects</a>
    <a href="/about/">About</a>
    {% else %}
    <a class="current" href="{{ site.baseurl }}/">Blog</a>
    <a href="/projects/">Projects</a>
    <a href="/about/">About</a>
    {% endif %}
</nav>
</header>
</div>

