<div class="site-header">
<header role="banner">
<h1>Marc Dominik Migge</h1>
<nav role="navigation">
    {% assign nav = page.url | split:'/' %}
    <ul>
    {% if nav[1] == 'about' %}
    <li><a href="{{ site.baseurl }}/">Blog</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a class="current" href="/about/">About</a></li>
    {% elsif nav[1] == 'projects' %}
    <li><a href="{{ site.baseurl }}/">Blog</a></li>
    <li><a class="current" href="/projects/">Projects</a></li>
    <li><a href="/about/">About</a></li>
    {% else %}
    <li><a class="current" href="{{ site.baseurl }}/">Blog</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/about/">About</a></li>
    {% endif %}
    </ul>
</nav>
</header>
</div>

