.site-header {
    background-color: $header-bg-color;
    color: $header-fg-color;
    text-align: center;
    font-family: $header-font-family;
    padding: 1em 0;
    
    h1 {
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2;
        padding-bottom: 1em;
    }
    
    li {
        display: inline;
    }
    
    a {
        color: $header-fg-color;
        padding: 0.2em 1em;
        text-decoration: none;
    }

    a.current {
        @extend a;
        background-color: $header-fg-color;
        color: $header-bg-color;
        border-radius: 0.2em;
    }

    
    a:hover {
        text-decoration: underline;
    }

    @media (min-width: 450px) {
        h1 {
            font-size: 3em;
            line-height: 1.5;
            padding-bottom: 0.5em;
        }
    }
        
    @media (min-width: 600px) {
        h1 {
            font-size: 3.5em;
            line-height: 1.5;
            padding-bottom: 0.5em;
        }
    }
        
    @media (min-width: 1000px) {
        h1, nav {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        h1 {
            font-size: 4em;
            font-weight: bold;
            line-height: 3;
            padding-right: 1.5em;
            padding-bottom: 0;
        }
    }
}

.page-content {
    margin: 1em;
    
    .post-meta {
        color: grey;
        padding: 0;
    }

    @media (min-width: 850px) {
        width: 32em;
        margin: 0 auto;
    }
}

.footer-copyright {
    font-family: $base-font-family;
    background: $shaded-bg-color;
    text-align: center;
    padding: 1em;
}
