$accent-articles: indigo;
$accent-projects: teal;
$accent-resume: dodgerblue;

$bg-color: white;
$text-color: #333;

$highlight-bg-color: gainsboro;
$highlight-text-color: #444;

$body-font: 'Open Sans', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$heading-font-weight: normal;
