$accent: indigo;

$bg-color: white;
$text-color: #333;

$highlight-bg-color: gainsboro;
$highlight-text-color: #444;

$body-font: 'Open Sans', sans-serif;
$heading-font: 'Lilita One', sans-serif;
$heading-font-weight: normal;
